{% extends "base.html" %} 
{% block title %}| turn: {{ turn }} {% endblock %} 
{% macro xo(value) %}
{% if value==0 %}_{% elif value==1 %}X{% else %}O{% endif %}
{% endmacro %}
{% macro xobutton(index) %}
<button id="{{ index }}" onclick="window.location.href=window.location.href+'/{{ index }}'" {% if tomove != side %}disabled{% endif %}>{{ xo(match[index]) }}</button>
{% endmacro %}
{% block content %} 
{% if mode == "versus" %}
<p class="gameid">
  Game ID: <code>{{ gameid }}</code>
  <button onclick="navigator.clipboard.writeText(window.location.href)">
    Copy Match Link
  </button>
</p>
{% elif mode == "share" %}
<p>Take turns on the same screen</p>
{% else %}
<p>Human VS Machine</p>
{% endif %}
{% if win == -1 %}
  <h2>Stalemate!</h2>
{% elif win == 1 %}
  <h2>X Wins!</h2>
{%elif win == 2 %}
  <h2>O Wins!</h2>
{% else %}
  <h3>{{ xo(tomove) }}'s Turn</h3>
{% endif %}
<table id="gameboard">
  <tr>
    <td>{{xobutton(0)}}</td>
    <td>{{xobutton(1)}}</td>
    <td>{{xobutton(2)}}</td>
  </tr>
  <tr>
    <td>{{xobutton(3)}}</td>
    <td>{{xobutton(4)}}</td>
    <td>{{xobutton(5)}}</td>
  </tr>
  <tr>
    <td>{{xobutton(6)}}</td>
    <td>{{xobutton(7)}}</td>
    <td>{{xobutton(8)}}</td>
  </tr>
</table>
{% if win and side %}
  {% if win == side %}
    <h3>You Won!</h3>
  {% else %}
    <br>
  {% endif %}
  <button id="rematch" onclick="window.location.href=window.location.href+'/rematch'">Rematch</button>
{% else %}
  {% if side %}
    <h3>Playing as {{ xo(side) }}</h3>
  {% else %}
    <h4>Spectating</h4>
  {% endif %}
{% endif %}
<script>
// Check for new moves every second
const interval = setInterval(() => {
  fetch(window.location.href, {
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    }
  }).then(response => {
    response.json().then(state => {
      const previous = '[' + {{ match }} + ']';
      if (JSON.stringify(state) != previous) {
        location.reload();
      };
    });
  });
}, 1000);
// Timeout after ten minutes
setTimeout(() => {
  clearInterval(interval);
}, 600000);
// Stop refreshing after game ends
if ({{ win }} != 0) {
  clearInterval(interval);
}
</script>
{% endblock %}


