{% extends "base.html" %} 
{% block title %}| turn: {{ turn }} {% endblock %} 
{% macro xo(value) %}
{% if value==0 %}_{% elif value==1 %}X{% else %}O{% endif %} 
{% endmacro %}
{% block content %} 
  {% if win == -1 %}
    <h2>Stalemate!</h2>
  {% elif win == 1 %}
    <h2>X Wins!</h2>
  {%elif win == 2 %}
    <h2>O Wins!</h2>
  {% else %}
    <h3>{{ tomove }}'s Turn</h3>
  {% endif %}
<table id="gameboard">
  <tr>
    <td><button id="0" onclick="window.location.href=window.location.href+'/0'">{{xo(match.0)}}</button></td>
    <td><button id="1" onclick="window.location.href=window.location.href+'/1'">{{xo(match.1)}}</button></td>
    <td><button id="2" onclick="window.location.href=window.location.href+'/2'">{{xo(match.2)}}</button></td>
  </tr>
  <tr>
    <td><button id="3" onclick="window.location.href=window.location.href+'/3'">{{xo(match.3)}}</button></td>
    <td><button id="4" onclick="window.location.href=window.location.href+'/4'">{{xo(match.4)}}</button></td>
    <td><button id="5" onclick="window.location.href=window.location.href+'/5'">{{xo(match.5)}}</button></td>
  </tr>
  <tr>
    <td><button id="6" onclick="window.location.href=window.location.href+'/6'">{{xo(match.6)}}</button></td>
    <td><button id="7" onclick="window.location.href=window.location.href+'/7'">{{xo(match.7)}}</button></td>
    <td><button id="8" onclick="window.location.href=window.location.href+'/8'">{{xo(match.8)}}</button></td>
  </tr>
</table>
{% if side %}
<h3>Playing as {{ side }}</h3>
{% endif %}
<script>
// Check for new moves every second
const interval = setInterval(() => {
  fetch(window.location.href, {
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    }
  }).then(response => {
    response.json().then(state => {
      const previous = '[' + {{ match }} + ']';
      if (JSON.stringify(state) != previous) {
        location.reload();
      };
    });
  });
}, 1000);
// Timeout after ten minutes
setTimeout(() => {
  clearInterval(interval);
}, 600000);
// Stop refreshing after game ends
if ({{ win }} != 0) {
  clearInterval(interval);
}
</script>
{% endblock %}


