{% extends "base.html" %} {% block title %}{% endblock %} {% block content %}
<button class="newgame" onclick="window.location.href='/new_game'">
Two Player
</button>
<br/><br/>
<button class="newgame" onclick="window.location.href='/new_bot_game'">
Single Player
</button>
<br/><br/>
<button class="newgame" onclick="window.location.href='/new_share_game'">
Single Device
</button>
<br/><br/><br/>
<label for="gameid">Game ID:</label>
<input type="text" id="gameid" name="gameid" size=6 /><br/>
<button id="joingame" onclick="window.location.href=document.getElementById('gameid').value">
Join Game
</button>
{% endblock %}
