body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

#gameboard {
  margin: auto;
}

#gameboard button {
  width: 75px;
  height: 75px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
