body {
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
}

h1 {
  text-align: center;
}

h1 a {
  color: #000;
}
h1 a:hover {
  color: #333;
}

button {
  font-size: 22px;
  padding: 4px 8px 4px 8px;
}

.gameid {
  font-size: 18px;
}

.gameid button {
  font-size: 16px;
}

#gameid {
  font-size: 18px;
  padding: 3px;
}

#joingame {
  margin-top: 6px;
}

#gameboard {
  margin: auto;
}

#gameboard button {
  width: 75px;
  height: 75px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
